.headerContent
    height: auto
    padding: 10px
    width: 100%
    background: #8dddb8
    border-bottom: solid 1px #76b598
    display: grid
    grid-template-columns: 20% 60% 10% 10%
    grid-column-gap: 10px
    grid-row-gap: 15px
.titleCompany1    
    font-size: 20px
    width: auto
    float: left
    margin-top: 45px
    margin-left: 20px
    grid-column: 3
    grid-row: 2
.titleCompany2    
    font-size: 20px
    width: auto
    float: left
    margin-top: 45px
    margin-left: 20px
    grid-column: 3
.titleCompany3    
    font-size: 20px
    width: auto
    float: left
    margin-top: 45px
    margin-left: 20px
    grid-column: 1
.titleCompany4    
    font-size: 20px
    width: auto
    float: left
    margin-top: 45px
    margin-left: 20px
    grid-column: 1
    grid-row: 1