.headerContent
    float: left
    height: 60px
    padding: 10px
    width: 100%
    background: #f5ab65
    border-bottom: solid 1px #d6965a
    display:table-cell
    vertical-align:middle 
.logo
    margin-top: none
    width: 150px
    height: auto

@media only screen and (max-width: 720px)
    .logo
        margin-top: 10px
        width: 100px
        height: auto