<div class="generalBoxFooter">
    <div class="gridContainer">
        <div class="itemContainer">
            <div class="textFooter"> <b>Contactenos</b></div>
            <div class="textFooter"><b>Telefono :</b>+57 3043731456</div>
            <div class="textFooter"><b>Email :</b>TheGoldenCompany@gmail.com</div>
            <div class="textFooter"><b>Dirección :</b>Cll 6d #88d-59</div>
        </div>
        <div>
            <div class="textFooter"> <b>Siguenos</b></div>
            <div class="socialMedia">
                <div class="socialMediaItem"></div>
                <div class="socialMediaItem"></div>
                <div class="socialMediaItem"></div>
            </div>
        </div>
        <div>
            <div class="textFooter"> <b>Acerca de nosotros</b></div>
            
        </div>
        <div>
            <div class="textFooter"> <b>Terminos Legales</b></div>
            
        </div>
    </div>
</div>
<div class="endPage">
    <div class="centerBox">
        The Golden Company. Todos los derechos reservados 2020.
    </div>
</div>