<app-header></app-header>
<div class="generalbox">
<div class="containerbox">
    <div class="newgripa">
        <div class="item1"><img class="impr" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>
        <div class="item2"><p>logan sombrero gigante</p></div>
        <div class="item3"><p>hermitaño que cultiva lechugas a las afueras de lodric</p></div>
        <div class="item4"><p>Lechuga</p></div>
        <div class="item5"><input [(ngModel)]="this.prSearch" placeholder="seguir buscando" class="inputprser" type="text"></div>
        <div class="item6"><img class="imrot" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>
        <div class="item7"><p>es una lechuga, lechugea bien y es de color verde</p></div>
        <div class="item8"><p>productos relaciondado</p></div>
        <div class="item9"><p>$3000 u/d</p></div>
        <div class="item10"><p>agregar al carrito</p></div>
        
    </div>
</div>    
</div>
<app-footer></app-footer>
