<app-header></app-header>
<div class="generalbox">
<div class="containerbox">
    <div class="newgripa">
        <div class="item1"><img class="impr" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>
        <div class="item2"><p>nombre del productor</p></div>
        <div class="item3"><p>descripcion del productor</p></div>
        <div class="item4"><p>nombre del producto</p></div>
        <div class="item5"><input [(ngModel)]="this.prSearch" placeholder="seguir buscando" class="inputprser" type="text"></div>
        <div class="item6"><img class="imrot" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>
        <div class="item7"><p>detalles relacionados a la compra</p></div>
        <div class="item8"><p>productos relaciondado</p></div>
        <div class="item9"><p>precios y ofertas</p></div>
        <div class="item10"><p>agregar al carrito</p></div>
        
    </div>
</div>    
</div>
<app-footer></app-footer>
