<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">
        <div class="titleName">
            Login
        </div>
        <div class="inputLogin">
            <input [(ngModel)]="this.userName" placeholder="Username" class="inputlog" type="text">
        </div>
        <div class="inputLogin">
            <input [(ngModel)]="this.password" placeholder="password" class="inputlog" type="password">
        </div>
        <div class="buttons">
            <div class="buttonRegister" (click)="this.gotoRegiter()">
                <b>Regitrarse</b>
            </div>
            <div class="buttonlogin" (click)="this.login()">
                <b>Iniciar sesión</b> 
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>