<div class="generalBox">
    <div class="titlePopUp">
        Confirmación
    </div>
    <div class="gridContainer">
        <div class="option"><b>Nombre:</b></div><div class="optionData">Juan David</div>
        <div class="option"><b>Apellido:</b></div><div class="optionData">Ayala Lizarazo</div>
        <div class="option"><b>Cumpleaños:</b></div><div class="optionData">05/24/1999</div>
        <div class="option"><b># Doumento:</b></div><div class="optionData">1233506720</div>
        <div class="option"><b>Email:</b></div><div class="optionData">u1802983@unimilitar.edu.co</div>
        <div class="option"><b>TypeUser:</b></div><div class="optionData">Cliente</div>
    </div>
    <div class="buttons">
        <div class="buttonRegister" (click)="this.close('cancel')">
            <b>Volver</b>
        </div>
        <div class="buttonlogin"  (click)="this.close('continue')">
            <b>Aceptar</b>
        </div>
    </div>
</div>
