<div class="generalBox">
    <div class="titlePopUp">
        Confirmación
    </div>
    <div class="gridContainer">
        <div class="option"><b>Nombre:</b></div><div class="optionData">{{this.name}}</div>
        <div class="option"><b>Apellido:</b></div><div class="optionData">{{this.lastname}}</div>
        <div class="option"><b>Cumpleaños:</b></div><div class="optionData">{{this.birthday}}</div>
        <div class="option"><b># Doumento:</b></div><div class="optionData">{{this.idDocument}}</div>
        <div class="option"><b>Email:</b></div><div class="optionData">{{this.email}}</div>
        <div class="option"><b>TypeUser:</b></div><div class="optionData">{{this.userOp[this.userType]}}</div>
    </div>
    <div class="buttons">
        <div class="buttonRegister" (click)="this.close('cancel')">
            <b>Volver</b>
        </div>
        <div class="buttonlogin"  (click)="this.close('continue')">
            <b>Aceptar</b>
        </div>
    </div>
</div>
