<app-header></app-header>
<div class="generalBox">
    <div class="boxContainer">

        <div class="gridNewp">
            <div class="item1" ><img class="pim" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>
            <div class="item2"><input [(ngModel)]="this.prName" placeholder="nombre producto" class="inputprname" type="text"></div>
            <div class="item3"><input [(ngModel)]="this.prDescription" placeholder="descripcion producto" class="inputprdesc" type="text"></div>
            <div class="item4"><p>test text 4</p></div>
            <div class="item5"><input [(ngModel)]="this.prValue" placeholder="Precio producto" class="inputprval" type="text"></div>
            <div class="item6"><p>subir imagen</p></div>
            <div class="item7"><p>publicar</p></div>
            <div class="item8"><input [(ngModel)]="this.prAddress" placeholder="Direccion recogida" class="inputpradr" type="text"></div>
            <div class="item9"><p>buscar direccion</p></div>
            <div class="item10"><p>insertar mapa v:</p></div>
            <div class="item11" (click)="this.gotoBack()"><p>volver</p></div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>