<app-header></app-header>
<div class="generalBox">
    <div class="boxContainer">

        <div class="gridNewp">
            <div class="item1" ><img class="pim" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>
            <div class="item2"><p>test text 2</p></div>
            <div class="item3"><p>test text 3</p></div>
            <div class="item4"><p>test text 4</p></div>
            <div class="item5"><p>test text 5</p></div>
            <div class="item6"><p>test text 6</p></div>
            <div class="item7"><p>publicar</p></div>
            <div class="item8"><p>test text 8</p></div>
            <div class="item9"><p>buscar direccion</p></div>
            <div class="item10"><p>insertar mapa v:</p></div>
            <div class="item11" (click)="this.gotoBack()"><p>volver</p></div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>