<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">    
        <div class="Info_Map">
            <div class="Info">
                <div class="Dir">
                     <input [(ngModel)]="this.direcction" placeholder="Dirección: Ibagué Ruta 43 Km 21 Vía Honda - Tolima" class="inputlog" type="text">
                 </div>
                 <div class="Dir">
                    <div class="buttonlogin" (click)="this.findDir()">
                        <b>Buscar</b>
                    </div>
                </div>
            </div>
            <div class="map">
                <google-map height="500px" width="100%" [zoom]="zoom" [center]="center"
                [options]="options" >
                  
                <map-marker #markerElem *ngFor="let marker of markers"
                  [position]="marker.position" [label]="marker.label"
                  [title]="marker.title" [options]="marker.options"
                  (mapClick)="openInfo(markerElem, marker.info)" >
                  
                </map-marker>
                
                <map-info-window >
                {{infoContent}}
                </map-info-window>
                
                </google-map>
            </div>            
        </div>
        <div class="Opciones">
            <div class="but">
                Valor Carga : $150.000.00
            </div>
            <div class="but">
                Ganancia : $20.000.00
            </div>
            <div class="Agree">
                Aceptar Carga
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
