<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">
    
        <div class="Info_Map">
            <div class="Info">
                <div class="Dir"> <b>Dirección: Ibagué Ruta 43 Km 21 Vía Honda - Tolima</b></div> <div class="Dir"> <b>Distancia Máxima</b></div>
            </div>
        </div>

        <div class="Opciones">
            <div class="but">
                Valor Carga : $150.000.00
            </div>
            <div class="but">
                Ganancia : $20.000.00
            </div>
            <div class="Agree">
                Aceptar Carga
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
