<app-header></app-header>
<div class="username">Vendedor El Kokun v:</div>
<div class="containerBox">
<div class="grida">
<div class="item1">en esta seccion van los datos del usuario vendedor, una descripcion y tal ves algun numero de telefono</div>
<div class="item2"><img class="logo" src="./../../assets/img/vendedor.png"></div>
<div class="item3" (click)="this.gotoMypublications()">publicaciones</div>
<div class="item4" (click)="this.gotoNewpublication()">publicar producto</div>
</div>
</div>
<app-footer></app-footer>