.username
    position: relative
    text-align: center
    font-size: 40px
    width: auto
    height: 150px
    top: 40px

.item1
    grid-area: sp1
    background-color: #ce429f
    width: 450px
    height: auto
.item2
    grid-area: sp2
    background-color: #ce429f
    width: 300px
.item3
    grid-area: sp3
    background-color: #ce429f
    width: 300px
.item4
    grid-area: sp4
    background-color: #ce429f
    width: 300px
.grida
    display: grid
    grid-template-areas: 'sp1 sp1 sp1 sp2 sp2' 'sp1 sp1 sp1 sp2 sp2' 'sp1 sp1 sp1 sp3 sp3' 'sp1 sp1 sp1 sp4 sp4' ;
    grid-gap: 10px;
    background-color: #900361;
    padding: 10px;
    height: auto
.logo
    width: 280px
    height: auto
    align: center