.username
    position: relative
    text-align: center
    font-size: 40px
    top: 40px
.grid-container 
    margin: 10px
    display: grid
    grid-template-columns: auto auto
    grid-template-rows: 100px
    grid-gap: 30px
    background-color: #2196F3
    padding: 10px
    position: absolute
    top: 200px
    left: 80px
    right: 80px
    
.grid-item
    text-align: center
    font-size: 30px
    padding: 30px
