.generalBox
    height: auto
    float: left
    width: 100%
.containerBox
    margin-top: 115px
    margin-bottom: 120px
    margin-left: auto
    margin-right: auto
    max-width: 90%
    width: auto
.tableOrders
    border: solid 1px #000000
    margin-top: 20px
.tableTitles
    width: 100%
    display: grid
    grid-template-columns: 10% 60% 20% 10%
    background-color: #000000
    color: #ffffff
    text-align: center
    padding-top: 10px
    min-height: 40px
.tableItemsW    
    width: 100%
    display: grid
    grid-template-columns: 10% 60% 20% 10%
    background-color: #ffffff
    text-align: center
    padding-top: 10px
    min-height: 40px
    cursor: pointer
.tableItemsG    
    width: 100%
    display: grid
    grid-template-columns: 10% 60% 20% 10%
    background-color: #dddddd
    text-align: center
    padding-top: 10px
    min-height: 40px
    cursor: pointer
.imageData
    width: 120px
.productIMG
    width: 100%