<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">
        <div class="tableOrders">
            <div class="tableTitles">
                <div >Item</div>
                <div class="resposiveMin">Descripción</div>
                <div class="resposiveMin">Precio</div>
                <div class="resposiveMin">fecha</div>
             </div>
             <div class="tableItemsW">
                <div class="imageData"><img class="productIMG" src="./../../assets/img/imagen-no-disponible-png-4.png" alt=""></div>
                <div><b class="resposiveMinTitle">Descripción:</b>Aguacates 20 kg </div>
                <div><b class="resposiveMinTitle">Precio:</b>500000</div>
                <div><b class="resposiveMinTitle">Fecha:</b>05/15/2020</div>
             </div> 
             <div class="tableItemsG">
                <div class="imageData"><img class="productIMG" src="./../../assets/img/imagen-no-disponible-png-4.png" alt=""></div>
                <div><b class="resposiveMinTitle">Descripción:</b> Arroz 5 Costales </div>
                <div><b class="resposiveMinTitle">Precio:</b>400000</div>
                <div><b class="resposiveMinTitle">Fecha:</b>05/02/2020</div>
             </div> 
         </div>
         <div class="buttons">
            <div class="buttonBack" (click)="this.gotoBack()">
                <b>volver</b>
            </div>
            <div class="buttonNewproduct" (click)="this.gotoNewpublication()">
                <b>agregar producto</b> 
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
