.generalBox
    height: auto
    float: left
    width: 100%
.containerBox
    margin-top: 115px
    margin-bottom: 120px
    margin-left: auto
    margin-right: auto
    max-width: 2000px
    width: 90%
    display: grid
    grid-template-columns:  25% 75%
    column-gap: 40px

.Buyer
    display: grid
    grid-template-rows:  8% 92%
    grid-row-gap: 15px
    height: 700px
    width: 100%
    text-align: center
    font-style: italic
    font-family: monospace 
    font-size: 25px

.Mas
    display: grid
    background-color: #f5ab65
    border-radius: 10px
    padding-top: 15px
    margin-left: 10%
    width: 80%

.Palet
    display: grid
    grid-template-rows:  50% 50%
    background-color:  #DDDDDD
    border-radius: 10px
    width: 100%

.Pic
    border: solid 1px #000000
    margin-top: 25px
    margin-right: auto
    margin-left: auto
    width: 85%
    height: 260px
    background-color:#ffffff

.Data
    height: auto
    width: 80%
    margin-left: 10%
    grid-template-rows: 10% 10% 10% 10% 10%
    row-gap: 10px

.Tex
    text-align: left
    font-style: italic
    font-family: monospace 
    font-size: 17px


.Selling