<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">

        <div class="Buyer">

            <div class="Mas">
              <b>Ver más opciones</b>  
            </div>

            <div class="Palet">
                <div><img class="Pic" src="./../../assets/img/imagen-no-disponible-png-4.png" alt=""></div>

                <div class="Data">
                    <div class="Tex">Nombre</div>
                    <div class="Tex">Código</div>
                    <div class="Tex">Típo de cueta</div>
                    <div class="Tex">Saldo</div>
                    <div class="Tex">Dirección</div>
                </div>
            </div>
        </div>

        <div class="Selling">


        </div>


    </div>
</div>
<app-footer></app-footer>
