<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">
        <div class="userInfo">
            <div class="nameClient"><b>{{this.userInfo.name+this.userInfo.lastname}}</b> </div>
            <div class="imageClient"><img class="userImage" src="./../../assets/img/vendedor.png" alt=""></div>
            <div class="personalData">
                <div class="personalInfo"><b>Cumpleaños:</b>{{this.userInfo.birthday.substring(3,15)}}</div>
                <div class="personalInfo"><b>Email:</b>
                    <p>{{this.userInfo.email}}</p>
                </div>
                <div class="personalInfo"><b># Documento:</b>
                    <p>{{this.userInfo.document_id}}</p>
                </div>
            </div>
            <div class="buttonRegister" (click)="this.gotoFindOrders()">
                <b>Buscar Orden</b>
            </div>
        </div>

        <div class="myOrders">
            <div class="titleMyOrders">
                <b>Mis Ordenes</b>
            </div>
            <div class="tableOrders">
                <div class="tableTitles">
                    <div>Orden</div>
                    <div class="resposiveMin">Direccion</div>
                    <div class="resposiveMin">Precio</div>
                    <div class="resposiveMin">Peso</div>
                </div>
                <div class="tableItemsW">
                    <div><b class="resposiveMinTitle"># Orden:</b> 102</div>
                    <div><b class="resposiveMinTitle">Descripción:</b>cll 6d # 88d 59</div>
                    <div><b class="resposiveMinTitle">Precio:</b>500000</div>
                    <div><b class="resposiveMinTitle">Estado:</b>200kg</div>
                </div>
                <div class="tableItemsG">
                    <div><b class="resposiveMinTitle"># Orden:</b> 108</div>
                    <div><b class="resposiveMinTitle">Descripción:</b>cll 6d # 88d 59</div>
                    <div><b class="resposiveMinTitle">Precio:</b>400000</div>
                    <div><b class="resposiveMinTitle">Estado:</b>120kg</div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>