<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">
        <div>
            <div class="personalInfo">
                <div class="transpData">Documento:</div><div class="dots">........................................</div> <div class="transpInfo">5019283727</div>
                <div class="transpData">Dirección:</div><div class="dots">........................................</div> <div class="transpInfo">Cll.81-Sur #32-55/ Bogotá-Colombia</div> 
                <div class="transpData">Código de ID:</div><div class="dots">........................................</div> <div class="transpInfo">103GD93G</div> 
                <div class="transpData">Usuario:</div><div class="dots">........................................</div> <div class="transpInfo">Transportador</div> 
            </div>

            <div class="TripInfo">

             <div class="Trips">
                 <div>Remesa</div> <div>Dirección</div> <div>Estátus</div> 
             </div> 
            
             <div class="TripData">
                 <div>Tomates: 200Kg</div> <div>Bogotá Km 31 Vía Subachoque - Cundinamarca</div> <div>Entregado</div> 
                 <div>Papa Criolla: 400Kg</div> <div>Tunja Km 11 Vía Sutamarchán - Boyacá</div> <div>Disponible</div> 
                 <div>Acelga: 150Kg</div> <div>Ubaté Km 4 Vía Zipaquirá - Cundinamarca</div> <div>Disponible</div> 
                 <div>Berenjena: 350Kg</div> <div>Ibagué Ruta 43 Km 21 Vía Honda - Tolima</div> <div>Disponible</div> 
             </div>  

            </div> 
        </div>
        
        <div class="First_profile">
            <div class="TranspName">
             <b>(Nombre del transportador)</b>
            </div> 

            <div><img class="img_no_disp" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>  

            <div class="buttonsTransp">
                <div class="buttonRemesas" (click)="this.gotoFindOrders()">
                    <b>Buscar Remesas</b>
                </div>
                <div class="buttonVehiculo">
                    <b>Registrar Vehículo</b>
                </div>
                <div class="buttonPagos">
                    <b>Mis Pagos</b>
                </div>
            </div>

        </div>   

    </div>
</div>
<app-footer></app-footer>