<app-header></app-header>
<div class="generalBox">
    <div class="containerBox">
        <div>
            <div class="personalInfo">
                <div>Documento:</div> <div>696969696969</div>
                <div>Dirección:</div> <div>Io K C</div> 
                <div>Código de ID:</div> <div>103GD93G</div> 
                <div>Usuario:</div> <div>Transportador</div> 
            </div>

            <div class="TripInfo">

             <div class="Trips">
                 <div>Remesa</div> <div>Dirección</div> <div>Estátus</div> 
             </div> 
            
             <div class="TripData">
                 <div>Tomates: 200Kg</div> <div>ELV</div> <div>Disponible</div> 
                 <div>Papaya: 400Kg</div> <div>ELVx2</div> <div>Disponible</div> 
                 <div>Acelga: 150Kg</div> <div>ELVx3</div> <div>En Curso</div> 
                 <div>Berengena: 350Kg</div> <div>ELVx4</div> <div>Disponible</div> 
             </div>  

            </div> 
        </div>
        
        <div class="First_profile">
            <div class="TranspName">
             <b>(Nombre del transportador)</b>
            </div> 

            <div><img class="img_no_disp" src="./../../assets/img/imagen-no-disponible-png-4.png"></div>  

            <div class="buttonsTransp">
                <div class="buttonRemesas">
                    <b>Buscar Remesas</b>
                </div>
                <div class="buttonVehiculo">
                    <b>Registrar Vehículo</b>
                </div>
                <div class="buttonPagos">
                    <b>Mis Pagos</b>
                </div>
            </div>

        </div>   

    </div>
</div>
<app-footer></app-footer>